.normal {
  background: #fff;
  // margin: 200px 0 40px 0;
  // position: relative;
  width: 400px;
  float: right;

}

.normal input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.normal input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.normal input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.normal h1 {
  position: absolute;
  top: -155px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.popup {
  display: block;
  width: 400px;
  height: 200px;
  background-color: white;
  position: absolute;
  right: 0;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
  0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.popup button {
  display: inline-block;
  padding: 10px 18px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #34046E;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #ddd;
}

.popup button:hover {background-color: #4a04b9
}

.popup button:active {
  background-color: #4a04b9;
  box-shadow: 0 5px #ddd;
  transform: translateY(4px);
}
.container {
  min-height: 100%;
  width: 100%;
  position: absolute;
}
a {
  text-decoration: none;
  color: darkslategray;
}

a:hover {
  color: darkmagenta;
}